#add-task-duration {
  width: 100%;

  display: flex;
  flex-direction: column;
  .inner-form-container {
    display: flex;
    flex-direction: column;
    fieldset {
      display: flex;
      flex-direction: column;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
